<h1>ブログ一覧</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :content_cont, "内容検索" %>
  <%= f.search_field :content_cont %>

  <div>
    <%= f.submit "検索" %>
  </div>
<% end %>

<table>
  <tr>
    <th>アイコン</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>編集</th>
    <th>削除</th>
    <th>詳細</th>
    <th>画像</th>
  </tr>

  <% @blogs.each do |blog| %>
  <tr>
    <td><%= image_tag(blog.user.image.url) if blog.user.image.url %></td>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <% if blog.user_id == current_user.id %>
    <td><%= link_to "編集" ,edit_blog_path(blog.id), class: 'btn btn-info' %></td>
    <td><%= link_to "削除" ,blog_path(blog.id), class: 'btn btn-danger', method: :delete %></td>
    <% else %>
    <td>×</td>
    <td>×</td>
    <% end %>
    <td><%= link_to "詳細" ,blog_path(blog.id), class: 'btn btn-success' %></td>
    <td><%= image_tag(blog.blog_image.url) if blog.blog_image.url %></td>
  </tr>
  <% end %>
</table>

<%= link_to "ログを書く", new_blog_path,class: 'btn btn-primary' %>
