<h1>ログを書く</h1>

<%= form_with(model: @blog, local: true, url: confirm_blogs_path) do |form| %>
  <% if @blog.errors.any? %>
  <ul>
    <% @blog.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="blog_title">
    <h3>タイトル</h3>
    <%= form.text_field :title, :class => 'title_form' %>
  </div>

  <div class="content">
    <h3>内容</h3>
    <%= form.text_area :content, :class => 'content_form' %>
  </div>

  <%= form.submit "保存する", :class => "btn" %>
<% end %>
