<h2>ログの詳細</h2>

<p>タイトル：<%= @blog.title %></p>
<p>内容：<%= @blog.content %></p>
<p>画像：<%= image_tag(@blog.blog_image.url) if @blog.blog_image.url %></p>

<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to "お気に入り解除", favorite_path(id: @favorite.id),method: :delete,class: "btn btn-danger" %>
  <% else %>
    <%= link_to "お気に入りする", favorites_path(blog_id: @blog.id),method: :post,class: "btn btn-primary" %>
  <% end %>
<% end %>
