<h2><%= @user.name %>のページ</h2>

<p>メールアドレス：<%= @user.email %></p>

<h3>お気に入り一覧</h3>
<% @favorite_blogs.each do |blog| %>
  <p>タイトル：<%= blog.title %>,内容：<%= blog.content %></p>
<% end %>

<p>画像：<%= image_tag(@user.image.url) if @user.image.url %></p>

<h3>フォローしている人</h3>
<% @following_user.each do |user| %>
  <p><%= user.name %></p>
<% end %>

<h3>フォローされている人</h3>
<% @followed_user.each do |user| %>
  <p><%= user.name %>
<% end %>
<div>
<%= link_to "編集" ,edit_user_path(@user.id), class: 'btn btn-info' %>
</div>
